ion-header{
    background: var(--ion-color-light);
    ion-toolbar.wrapper{
        --background: url('../../assets/imgs/header.png') no-repeat center center/cover;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        ion-item, ion-toolbar.srchBar{
            --background: transparent;
        }
    }
}

ion-item{
    margin: 3.5vh 0;
    ion-label{
        font-size: 0.75rem;
        ion-icon{
            margin-right: 3px;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        p{
            margin-top: 3px;
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    ion-fab-button{
        --background:white;
        ion-badge{
            color: var(--ion-color-primary);
            position: absolute;
            margin-right: 0.45rem;
            margin-top: 0.45rem;
            top: 0;
            right: 0;
            font-size: 0.1rem;
            padding: 0.25rem !important;
            border-radius: 50px;
        }
    }

}

ion-toolbar.srchBar{
    ion-row{
        background: white;
        margin: 5px 5px 8px 5px;
        border-radius: 25px;
        ion-col{
            padding: 0;
        }
    }

    ion-fab-button{
        --box-shadow: none;
        ion-icon{
            font-size: 1.3rem;
        }
    }

    ion-searchbar{
        padding: 0;
        --border-radius:25px;
        --background:#fff;
        color: rgb(73, 73, 73);
    }
}

ion-content{
    ion-list{
        background: transparent;
    }
    ion-list-header{
        font-size: 1.3rem;
    }
    ion-card{
        border-radius: 25px;
    }
    ion-card.event1{
        height: 8rem;
        align-items: center;
        margin: 15px 5px;

        ion-item{
            margin-block: 2px;
            --background: var(--ion-color-light);
            ion-thumbnail{
                width: 5.5rem;
                height: 7rem;
                ion-img{
                    --border-radius:25px;
                }
            }
            ion-label{
                ion-text.date{
                    font-size: 0.8rem;
                    color: grey;
                }
                p.title{
                    margin-top: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                p.location{
                    font-size: 0.85rem;
                    margin-top: 10px;
                    color: grey;
                    font-weight:normal;
                }
            }
        }
    }
}
